page-practice-performance {
  .active {
    border: #51a8a3;
    background: #51a8a3;
    color: white;
    border: 1px solid #51a8a3;
    &:hover {
      background: #51a8a3;
      color: white;
    }
  }
  .none-border .item-inner {
    border: none !important;
  }

  .mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .practice-img-v2{
    width: 100%;
    height: calc(75vh - 142.8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
