page-practice-performance {
  .active {
    border: #51a8a3;
    background: #51a8a3;
    color: white;
    border: 1px solid #51a8a3;
    &:hover {
      background: #51a8a3;
      color: white;
    }
  }
  .none-border .item-inner {
    border: none !important;
  }

  .mirror {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  
  .practice-img-v2{
    width: 100%;
    height: calc(75vh - 142.8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .audio-badge {
    color: #009688;
    position: absolute;
    top: 0px;
    right: 0px;
    /* background-color: #009688; */
    border-radius: 50%;
    border: solid 1px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
    font-family: Ubuntu,sans-serif;
  }
}
