page-practice-performance {
    .active{
      border: #51a8a3;
      background: #51a8a3;
      color: white;
      border: 1px solid #51a8a3;
      &:hover{
        background: #51a8a3;
        color: white;
      } 
    }
    .none-border .item-inner{
      border: none !important;
  }
}
