<ion-content>
  <div style="height: 60%;overflow: scroll;">
    <img img-cache img-cache-src="{{ practice.img }}" *ngIf="practice.img" style="padding-top: 10px;" />
  </div>
  <div class="footer">
    <div><ion-icon name="medal"></ion-icon></div>
    <div><ion-icon name="clock"></ion-icon></div>
    <div><ion-icon name="podium"></ion-icon></div>
  </div>
  <div>
    <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
  </div>
  
  <h1 ion-text color="primary">{{ practice.name }}</h1>
  <div style="height: 30%;overflow: scroll;">
    <div [innerHTML]="practice?.shortDescription"></div>
  </div>

</ion-content>

<ion-footer class="footer">
  <div class="time" *ngIf="state !== StateEnum.Inited">{{countdown | appdate}}</div>
  <button ion-button color="primary" clear (click)="onToggleAudio()" *ngIf="practice.audio">
    <ion-icon name="volume-up" class="lg-icon"></ion-icon>
  </button>
  <button ion-button color="primary" clear *ngIf="practice.text" (click)="opentText()">
    <ion-icon name="information" class="lg-icon"></ion-icon>
  </button>
  
  <button ion-button color="primary" *ngIf="state === StateEnum.Inited || state === StateEnum.Paused" (click)="startPractice()" clear>
    <ion-icon name="play" class="lg-icon"></ion-icon>
  </button>

  <button ion-button color="primary" *ngIf="state === StateEnum.Paused" (click)="resumePractice()" clear>
    <ion-icon name="pause" class="lg-icon"></ion-icon>
  </button> 

  <button ion-button color="primary" clear navPush="PracticeSettingsPage" [navParams]="{practice: practice}">
    <ion-icon name="settings" class="lg-icon"></ion-icon>
  </button>
  <button ion-button color="primary" clear (click)="onBack()">
    <ion-icon name="close" class="lg-icon"></ion-icon>
  </button>
</ion-footer>