page-template-3 {
    .img-sm-wrap-inside{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 120px;
        height: 120px;
        border: 1px solid color($colors, primary);
        background-position: bottom;
        background-size: 100% 100%;
        img{
            height: 100%;
            width: auto;
        }
    }
    .img-sm-wrap{
        max-width: 730px;
        margin: auto;
    }
    
}
