<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="pos-a" ion-text color="white">
      <ion-icon name="menu" class="fs-30"></ion-icon>
    </button>
    <p text-center ion-text color="white" class="header-title">Йога-марга</p>
  </ion-navbar>
</ion-header>

<ion-content padding-vertical>
  <h1>
    Каталог
  </h1>
  <ion-card no-margin class="full-width box-shadow">
    <ion-card-content no-padding padding-vertical>
      <ion-grid>
        <ion-row justify-content-center>
          <!--  -->
          <ion-col col-4 class="border-r col-between" no-padding *ngFor="let p of practices$ | async | slice:0:3"
          [navPush]="p.active === false?'':'PracticePerformancePage'" [navParams]="{practice: p}" [class.inactive]="p.active===false">
            <!-- (click)="onClickPractice(p)" -->
            <!-- <pre>
              {{practices | json}}
            </pre> -->

            <ion-row>
              <ion-col col-12>
                <ion-item text-center no-padding>
                  <!-- <ion-icon>
                    <svg-icon src="/assets/icon/svg/main-page/om.svg" [stretch]="true" [svgStyle]="{'height.px':50}">
                    </svg-icon>
                  </ion-icon> -->
                  <img class="img-icon" [src]="p.ico"
                  [ngStyle]="{'-webkit-mask': 'url(' + p.ico + ') no-repeat 50% 50%','mask': 'url(' + p.ico + ') no-repeat 50% 50%'}">
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-12>
                <ion-item text-center no-padding class="min-height-default">
                  <!-- <ion-icon name="ios-hand-outline" ion-text class=""></ion-icon> -->
                  <p ion-text class="fs-16 text-wrap">{{p.name}}</p>
                </ion-item>
              </ion-col>
            </ion-row>

          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-grid>
    <ion-row justify-content-end>
      <button icon-start margin-top margin-bottom class="button-custom mr-md-50 btn-sm-width" (click)="goAllPracticesPage()">
        <!-- <ion-icon name="ios-book-outline"></ion-icon> -->
        Все практики
        <span class="arrow"></span>
      </button>
    </ion-row>
  </ion-grid>

  <h1>
    Комплексы
  </h1>

  <ion-card no-margin class="full-width box-shadow">
      <ion-card-content no-padding padding-vertical>
          <p ion-text text-center class="fs-16 text-wrap" *ngIf="!complexes || complexes.length == 0">У Вас пока нет комплексов, но Вы можете их создать</p>
        <ion-grid>
          <ion-row justify-content-center>
            
            <ion-col  col-4 class="border-r col-between" no-padding *ngFor="let cm of complexes | slice:0:3" (click)="goToMyComplex(cm)">
  
              <ion-row >
                <ion-col col-12>
                  <ion-item text-center no-padding>
  
                    <img class="img-icon" [src]="cm.ico" 
                    [ngStyle]="{'-webkit-mask': 'url(' + cm.ico + ') no-repeat 50% 50%','mask': 'url(' + cm.ico + ') no-repeat 50% 50%'}">
                  </ion-item>
                </ion-col>
              </ion-row>
  
              <ion-row>
                <ion-col col-12>
                  <ion-item text-center no-padding class="min-height-default">
                    <p ion-text class="fs-16 text-wrap">{{cm.name}}</p>
                  </ion-item>
                </ion-col>
              </ion-row>
  
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  <ion-grid>
    <ion-row justify-content-end>
      <button (click)="goToComplexsPage()" icon-start margin-top margin-bottom class="button-custom mr-md-50 btn-sm-width">
        <!-- <ion-icon name="ios-book-outline"></ion-icon> -->
        Все комплексы
        <span class="arrow"></span>
      </button>
    </ion-row>
  </ion-grid>

  <!-- <ion-title text-center margin-bottom></ion-title> -->
  <h1>
    Достижения
  </h1>
  <ion-card no-margin class="full-width box-shadow">
      <ion-card-content no-padding padding-vertical>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col class="border-r custom-col" col-4 no-padding *ngFor="let p of progresses">
              <ion-item text-center no-padding>
                <img [src]="p.ico" class="img-icon"
                [ngStyle]="{'-webkit-mask': 'url(' + p.ico + ') no-repeat 50% 50%','mask': 'url(' + p.ico + ') no-repeat 50% 50%'}">
                <p ion-text class="value-goals text-wrap m-t-0">{{p.name}}</p>
                <p>{{+p.achivement}}</p> 
                <p>из</p>
                <p>{{+p.goal}}</p>
                <progress-chart [progress]="p.val"></progress-chart>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  <ion-grid>
    <ion-row justify-content-end>
      <button (click)="goToPrivateOffice()" icon-start margin-top margin-bottom class="button-custom mr-md-50 btn-sm-width">
        <!-- <ion-icon name="ios-book-outline"></ion-icon> -->
        В личный кабинет
        <span class="arrow"></span>
      </button>
    </ion-row>
  </ion-grid>

</ion-content>