page-home {
    .sm-icon{
        width: 30px;
        margin: auto;
        margin-bottom: 10px;
    }
    .input-row-office{
        display: flex;
        min-width: 173px;
        align-items: center;
    }
    .input-perivat-office{
        max-width: 400px;
        min-height: 1.4rem !important;
    }
    .icon-input{
        margin-right: 30px;
        width: 20px;
        @include media-breakpoint('xs'){
            margin-right: 10px;
        }
    }
    .row-input-outer{
        flex-wrap: nowrap;
        margin-left: 65px;
        margin-bottom: 20px;
        @include media-breakpoint('xs'){
            flex-wrap: wrap;
            margin-left: 0px;
        }
    }
    .lable-goals{
        font-size: 16px !important;
        color: color($colors, text-light) !important;
        font-weight: bold;
    }
    .value-goals{
        font-size: 14px;
        margin-top: 5px !important;
        min-height: 56px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px !important;
    }
    .img-icon-office{
        width: 40px;
        height: 40px;
        margin: auto;
    }
    ion-col.custom-col > ion-item > div.item-inner > div > ion-label{
        margin: 0 !important;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    .custome-select > div.item-inner > div > ion-select{
        padding: 7px 8px 8px 0px;
        width: 100%;
        max-width: 100%;
    }
    .button-custom{
        &.error{
            background: #ffffff;
            border: 1px solid color($colors, danger) !important;
            color: color($colors, danger);
            span{
                border-top: 1px solid color($colors, danger);
                border-right: 1px solid color($colors, danger);
            }
            &:hover{
                background: color($colors, danger);
                border: 1px solid color($colors, danger) !important;
                color: #ffffff; 
            }
        }
    }
    .error-validation > .item-inner{
        border: 1px solid color($colors, danger) !important;
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
    }
    .btn-sing-up.error{
        border: 1px solid color($colors, danger) !important;
        color: color($colors, danger);
        &:hover{
            background: color($colors, danger);
            color: #ffffff;
        }
    }
}
