<ion-header>
  <ion-navbar>
    <!-- (click)="goPage()" -->
    <!-- <div navPop ion-text color="white" icon-only>
      <span class="arrow arrow-back"></span>
    </div> -->
    <button ion-button menuToggle class="pos-a" ion-text color="white">
      <ion-icon name="menu" class="fs-30"></ion-icon>
    </button>
    <p text-center ion-text color="white" class="header-title">Каталог</p>
    <div class="space-block"></div>
  </ion-navbar>
</ion-header>

<ion-content padding-vertical>


  <div class="radio-wrap">
    <label class="container" (click)="switchGrouping('type')">
      <input type="radio" name="radio" checked="checked">
      <span class="checkmark">
        <!-- <img height="50px" src="/assets/icon/svg/perekluchatel-katalog/po-vremeny-sutok.svg" alt=""> -->
        <svg viewBox="0 0 100 100">
          <use xlink:href="/assets/icon/svg/perekluchatel-katalog/po-vremeny-sutok.svg#on-time"></use>
        </svg>
      </span>
    </label>

    <label class="container" (click)="switchGrouping('yantra')">
      <input type="radio" name="radio">
      <span class="checkmark">
        <svg viewBox="0 0 100 100">
          <use xlink:href="/assets/icon/svg/perekluchatel-katalog/po-yantram.svg#on-time"></use>
        </svg>

        <!-- <img height="50px" src="/assets/icon/svg/perekluchatel-katalog/po-yantram.svg" alt=""> -->
      </span>
    </label>
  </div>

  <!-- <ion-title text-center margin-bottom class="">Каталог</ion-title> -->
  <div *ngFor="let group of groupingPractices">
    <h1>{{group[0]}}</h1>
    <ion-card no-margin class="full-width box-shadow">
      <ion-card-content no-padding padding-vertical>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-4 class="border-r col-between" no-padding *ngFor="let pract of (group[1] | slice:0:3)" 
            (click)="onPractice(pract)"
            [class.inactive]="pract.active===false">

              <ion-row>
                <ion-col col-12>
                  <ion-item text-center no-padding>
                      <img img-cache img-cache-src="{{pract.ico}}" #img class="img-icon" >
                      <!-- <img class="img-icon" [ngStyle]="{'-webkit-mask': 'url(' + img.src + ') no-repeat 50% 50%','mask': 'url(' + img.src + ') no-repeat 50% 50%'}"> -->
                      
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-12>
                  <ion-item text-center no-padding class="min-height-default">
                    <!-- <ion-icon name="ios-hand-outline" ion-text class=""></ion-icon> -->
                    <p ion-text class="fs-16 text-wrap">{{pract.name}}</p>
                  </ion-item>
                </ion-col>
              </ion-row>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>


    <ion-grid>
      <ion-row justify-content-end>
          <!-- [navPush]="'PracticesListPage'"  [navParams]="{practices: group[1], title: group[0]}" -->
        <button icon-start margin-top margin-bottom class="button-custom mr-md-50 btn-sm-width" 
        
          (click)="onMorePractices(group[1], group[0])">
          <!-- (click)="goMorningPracticePage()" -->
          <!-- <ion-icon name="ios-book-outline"></ion-icon> -->
          Больше практик
          <span class="arrow"></span>
        </button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>