// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'gilroybold';
    src: url('../assets/fonts/gilroy-bold.ttf') format('truetype'),
         url('../assets/fonts/gilroy-bold.svg#gilroybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroymedium';
    src: url('../assets/fonts/gilroy-medium.ttf') format('truetype'),
         url('../assets/fonts/gilroy-medium.svg#gilroymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyregular';
    src: url('../assets/fonts/gilroy-regular.ttf') format('truetype'),
         url('../assets/fonts/gilroy-regular.svg#gilroyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import "assets/scss/style.scss";

body{
  min-width: 320px;
  margin: 0 auto;
  font-family: gilroyregular, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: color($colors, gray);
  background: color($colors,white);
}
.content-md{
  color: color($colors, gray);
}
button{
  font-family: gilroyregular, Arial, sans-serif;
}
input{
  font-family: gilroyregular, Arial, sans-serif;
}
h1 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  font-family: gilroyregular, Arial, sans-serif;
  margin: 0.67em 0;
  color: color($colors, gray);
  @include media-breakpoint('xs'){
    font-size: 20px;
  }
}
h2 {
  font-family: gilroyregular, Arial, sans-serif;
}
h3 {
  font-family: gilroyregular, Arial, sans-serif;
}
h4 {
  font-family: gilroyregular, Arial, sans-serif;
}
h5 {
  font-family: gilroyregular, Arial, sans-serif;
}
h6 {
  font-family: gilroyregular, Arial, sans-serif;
}
p {
  font-family: gilroyregular, Arial, sans-serif;
  color: color($colors, text-light);
}
p.text-wrap {
  font-family: gilroyregular, Arial, sans-serif;
  color: color($colors, text-light) !important;
}
div{
  font-family: gilroyregular, Arial, sans-serif;
}
.text-light{
  color: color($colors, text-light);
}
.label-md{
  margin: 0 !important;
}
.pos-a{
  position: absolute !important;
}
.pos-r{
  position: relative;
}
.df{
  display: flex;
}
.full-width{
    width: 100% !important;
}
.border-r{
    border-right: 2px solid color($colors, gray-100);
    &:last-child {
      border: none;
    }
    &:only-child {
      border-right: 2px solid color($colors, gray-100);
      border-left: 2px solid color($colors, gray-100);
    }
}

.box-shadow{
  -webkit-box-shadow: 0px 0px 10px 2px rgba(81,81,81,0.1);
  box-shadow: 0px 0px 10px 2px rgba(81,81,81,0.1)
}
.item-inner{
  padding-right: 0 !important;
}
.header-md:after{
  background-image: none !important;
}
.toolbar-background-md, .menu-inner, .toolbar-background-ios{
  background: $gradient-primary !important;
}
.header-title{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}
.input-style{
  .item-inner{
    border: 2px solid color($colors,primary) !important;
    border-radius: 2px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px !important;
    .input-wrapper{
      .label{
        color: #999999;
        font-family: gilroyregular, Arial, sans-serif;
      }
    }
  }
}
.input-office{
  .item-inner{
    border: none !important;
    border-bottom: 1px solid color($colors, gray-50) !important;
    border-radius: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 10px !important;
    .input-wrapper{
      ion-input {
        input{
          margin-left: 0;
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
      .label{
        color: #999999;
        font-family: gilroyregular, Arial, sans-serif;
      }
    }
  }
}
.input-bg{
  max-width: 350px;
  margin: AUTO;
  .item-inner{
    border: none !important;
    background: color($colors, gray-300)!important;
    color: #7fd7d2;
    font-weight: bold;
    font-size: 17px;
    height: 42px;
  }
}
.input-bg> div.item-inner > div > ion-input > input{
  padding: 0 !important;
}
.input-goals{
  max-width: 350px;
  margin: AUTO;
  .item-inner{
    padding: 0;
    padding-right: 0 !important;
    height: 30px;
    font-size: 16px;
    border: none !important;
    background: color($colors, gray-300)!important;
    color: #7fd7d2;
    font-weight: bold;
    .input-wrapper{
      ion-input{
        input{
          margin: 5px 5px;
          padding: 0 !important;
          padding-right: 10px !important;
        }
        button{
          right: 2px;
          width: 18px;

        }
      }
    }
  }
}
.input-text-area{
  div.item-inner{
    font-size: 14px;
    border: none !important;
    background: color($colors, gray-300)!important;
    color: #7fd7d2;
    div {
       ion-textarea {
         textarea{
          min-height: 115px;
        }
      }
    }
  }
}
.input-teamplate{
  max-width: 75px;
  margin: AUTO;
  .item-inner{
    height: 30px;
    font-size: 25px;
    background: color($colors, gray-300)!important;
    font-weight: normal;
    .input-wrapper{
      ion-input{
        input{
          padding-right: 0px !important;
        }
      }
    }
  }
}
.p-l-input-17{
  .item-inner{
    padding-left: 17px;
  }
}
.height-80{
  height: 80px !important;
} 
.height-full{
  height: 100%;
}
.btn:hover{
  color: color($colors,white) !important;
  background-color: color($colors,primary) !important;
}    
.menu-side-bar{
  background: $gradient-primary;
}
.bg-none{
  background: none;
}
.btn-sing-up{
  width: 100%;
  background: color($colors, white);
  border: 2px solid color($colors,primary) !important;
  margin-top: 10px;
  font-size: 22px;
  color: color($colors,primary);
  transition: all .5s;
}
.height-50 {
  height: 50px !important;
}
.icon-serch{
  position: absolute;
  z-index: 1;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: color($colors, primary);
  height: 96%;
  width: 35px;
  margin-right: 1px;
  cursor: pointer;
  svg-icon {
    svg{
      width: 16px !important;
      fill: rgb(255, 255, 255) !important;
    }
  } 
}
.icon-sidebar-item{
  display: flex;
  width: 30px;
  justify-content: center;
  svg-icon {
    svg{
      // width: 16px !important;
      // fill: rgb(255, 255, 255) !important;
      margin-right: 10px;
    }
  } 
}
.m-0-input{
  input{
    margin: 0;
  }
}
.row-search{
  background: color($colors,white);
  padding: 6px;
  padding-left: 15px;
  padding-right: 39px;
  width: calc(100% - 40px);
  margin: auto;
}
.icon-close{
  position: absolute;
  right: 6px;
  top: 6px;
  cursor: pointer;
}
.sidebar-item{
  width: 100%;
  text-align: left;
  display: block;
  padding: 9px 0 9px 20px;
  color: color($colors,white);
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 16px;
  display: flex;
  align-items: center;
  &:hover{
    background: #b3e8e5;
  }
}
span.arrow {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  margin-left: 15px;
  border-top: 2px solid color($colors,primary);
  border-right: 2px solid color($colors,primary);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: -1px;
  transition: all 0.5s;
}
span.arrow-back{
  height: 14px;
  width: 14px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  border-top: 2px solid color($colors, white);
  border-right: 2px solid color($colors, white);
}
.button-custom {
  float: right;
  display: block;
  min-width: 180px;
  margin: 20px 20px 0 0;
  font-family: 'gilroymedium';
  font-size: 16px;
  text-align: center;
  line-height: 38px;
  color: color($colors,primary);
  background: color($colors, white);
  border: 1px solid color($colors,primary);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  &:hover{
    background: color($colors,primary);
    color: color($colors, white);
    transition: all 0.5s;
    span.arrow{
      border-top: 2px solid color($colors, white);
      border-right: 2px solid color($colors, white);
      transition: all 0.5s;
    }
  }
}
.btn-hover{
  &:hover{
    background: color($colors,primary);
    color: color($colors, white);
    transition: all 0.5s;
  }
}
.min-height-default{
  min-height: unset !important;
}
.width-default{
  width: unset;
}
.col-between{
  justify-content: space-between;
  display: flex;
  flex-flow: column;
}
.text-wrap {
  white-space: pre-wrap;
}

// page login - aling center
page-sing-in > ion-content > div.scroll-content{
  display: flex;
  align-items: center;
}

// style for custom radio button --start
.radio-style > div.item-inner > ion-toggle{
  height: 24px;
  width: 50px;
  padding: 0;
}
.radio-style > div.item-inner > ion-toggle > div{
  background-color: color($colors, gray-200);
  border-radius: 0; 
}
.radio-style > div.item-inner > ion-toggle.toggle-checked > div{
  background-color: color($colors, primary) !important;
}
.radio-style > div.item-inner > ion-toggle > div > div{
  border-radius: 0;
  box-shadow: none;
  left: 2px;
  top: 2px;
  background-color: color($colors, white) !important;
}
.radio-style > div.item-inner > ion-toggle.toggle-checked > div > div{
  transform: translate3d(26px, 0, 0) !important;
}
.radio-style > div.item-inner{
  border: none !important;
  display: flex;
  justify-content: flex-start;
  min-width: 67px;
}

.radio-style > div.item-inner > div{
  display: none;
}
.radio-style{
  @include media-breakpoint('xs'){
    padding: 0 !important;
  }
}
.toggle-ios .toggle-icon::before{
  background-color: #fff0;
}
.toggle-ios .toggle-inner{
  width: 20px;
  height: 20px;
}
// style for custom radio button -- end
.text-coment{
  letter-spacing: 2.6px;
  text-transform: uppercase;
  font-size: 9px;
  color: color($colors, gray-50);
}
.img-icon{
  width: 80px;
  margin: auto;
  height: 50px;
}
.btn-back{
  background: none;
  box-shadow: none;
  top: 3px;
  &:hover{
    background: none !important;
  }
}
.toolbar-content-ios .btn-back{
  top: -6px;
}
.letter-spacing-2{
  letter-spacing: 2px;
}
.img-assan-big{
  height: 300px;
  width: auto;
  border: 1px solid color($colors, primary);
}
.gray-box-text{
  width: 118px;
  margin: auto;
  text-align: center;
  background: saddlebrown;
  padding: 8px;
  color: color($colors, primary);
  background: color($colors, gray-300);
}
@media screen and (min-width: 500px) {
  .mr-md-50{
    margin-right: 50px !important;
  }
}
@media screen and (max-width: 500px) {
  .btn-sm-width{
    width: 150px !important;
  }
}