page-create-complex-practices {
  .item-md.item-block .item-inner {
    border-bottom: none;
  }

  .marker {
    width: 10px;
    height: 10px;
    // background-color: #9c27b0;
    display: inline-block;
    border-radius: 10px;
    margin-right: 5px;
  }
  .green {
    background-color: #009688;    
  }
  
  .purple {
    background-color: #9435F2;
  }
}
