<ion-grid no-padding>
  <ion-row no-padding>
    <ion-col no-padding>
      <button ion-button [disabled]="state=='played'" class="ion-no-margin" color="primary"
        style="margin-bottom: 10px!important;"
        (click)="_intervals?'':_intervals=[];_intervals.push({value: 1});onChange(_intervals)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let interval of _intervals; let i = index">
    <ion-col>
      <ion-item text-center class="input-style input-goals input-teamplate">
        <input type="number" text-center [(ngModel)]="_intervals[i].value" class="new-interval" (ngModelChange)="onChange(_intervals)">
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button [disabled]="state=='played'" class="ion-no-margin" color="primary"
        (click)="_intervals.splice(i,1);onChange(_intervals)">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>