<ion-grid no-padding>
  <ion-row no-padding align-items-center justify-content-between
    style="margin-bottom: 10px!important; margin-top: 10px!important;">
    <p ion-text text-wrap text-center color="gray">
      Настройте метроном
    </p>
    <button ion-button [disabled]="state=='played'" class="ion-no-margin" color="primary"
      (click)="_intervals?'':_intervals=[];_intervals.push({value: 1});onChange(_intervals)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-row>
  <ion-row align-items-center justify-content-center *ngFor="let interval of _intervals; let i = index">
    <ion-item style="margin: 0; padding: 0; margin-right: 10px;" text-center class="input-style input-goals input-teamplate">
      <input type="number" text-center [(ngModel)]="_intervals[i].value" class="new-interval"
        (ngModelChange)="onChange(_intervals)">
    </ion-item>
    <button style="margin-bottom: 10px !important;" ion-button [disabled]="state=='played'" class="ion-no-margin" color="primary"
      (click)="_intervals.splice(i,1);onChange(_intervals)">
      <ion-icon name="remove"></ion-icon>
    </button>
  </ion-row>
</ion-grid>