<ion-header>
    <ion-toolbar>
      <button ion-button navPop ion-text color="white" class="pos-a btn-back">
        <span class="arrow arrow-back"></span>
      </button>
      <p text-right ion-text color="white" class="header-title">
        <!-- <img class="header-icon" width="25px" height="25px" src="/assets/icon/svg/header/text.svg" alt=""> -->
        <!-- <img class="header-icon" width="25px" height="25px" src="/assets/icon/svg/header/audio.svg" alt=""> -->
    </ion-toolbar>
  </ion-header>
  <ion-content class="p-b-20">
    <ion-row *ngIf='practice' justify-content-center>
      <ion-col col-lg-10 col-xs-12>
        <h1 ion-text color="primary">
            {{exercise.name}}
        </h1>
        <ion-row justify-content-center class="m-b-10 img-wrap-big">
          <span (click)="back()" class="arrow-slide arrow-left"></span>
          <div class="img-sm-wrap-inside">
            <img [src]="url" alt="" *ngIf="url">
          </div>
          <span (click)="skip()" class="arrow-slide arrow-right"></span>
        </ion-row>
        <p ion-text text-center text-wrap color="gray" class="m-b-20 m-t-20">
          <!-- {{practice.name}} -->
        </p>
        <p class="text-after-img">
          {{exercise.description}}
        </p>
      </ion-col>
    </ion-row>
    <ion-item text-center no-padding>
        <ion-item no-padding class="input-style input-goals input-teamplate">
          <!-- <ion-input [(ngModel)]="practice.userSpec.praktikaTime" *ngIf="!isStarted" text-center color="gray" (ngModelChange)="onPraktikaTimeChange()"></ion-input> -->
          <ion-input [value]="timer| date:'mm:ss'" disabled text-center color="gray" ></ion-input>
        </ion-item>
        <p margin-top ion-text text-wrap class="fs-14 text-wrap m-t-0 m-b-20 letter-spacing-2">
          МИНУТ
        </p>
      </ion-item>
    <!-- <ion-input [value]="timer| date:'mm:ss'"  disabled text-center color="gray"></ion-input> -->
    <ion-grid>
      <ion-card padding no-margin class="full-width box-shadow col-between height-full m-b-20">
        <ion-row justify-content-center>
          <ion-col col-lg-11 col-xs-12 class="col-between">
            <ion-item no-padding>
              <p ion-text text-center text-wrap color="gray" class="m-b-20">
                Вы можете изменить время выполнения
              </p>
              <ion-item text-center no-padding>
                <ion-item no-padding class="input-style input-goals input-teamplate">
                  <ion-input text-center placeholder="" color="gray" [(ngModel)]="exercise.timespan"></ion-input>
                </ion-item>
                <p margin-top ion-text text-wrap class="fs-14 text-wrap m-t-0 letter-spacing-2">
                  МИНУТ
                </p>
              </ion-item>
            </ion-item>
            <ion-grid>
              <ion-row justify-content-center>
                <button icon-center class="m-t-10 button-custom m-r-0 btn-sm-width" (click)="saveTimeForExercise()">
                  Установить
                </button>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  
  </ion-content>