page-load-screen {
    .text-center{
        text-align: center;
    }
    .item-centered-load-screen{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .max-width-264{
        width: 264px;
    }
}
